<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KOMPLEET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

    <!-- styles -->

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.min.css">



</head>

<body id="wrapper">

    <!-- /////////////////////////////////////////Navigation -->
    <button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
    <nav id="mm-menu" class="mm-menu">
        <div class="mm-menu__header">
            <h2 class="mm-menu__title">KOMPLEET</h2>
        </div>
        <ul class="mm-menu__items">
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="index.html">
                <span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="index.html">
                <span class="mm-menu__link-text"><i class="fa fa-user"></i> Blog</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="single.html">
                <span class="mm-menu__link-text"><i class="fa fa-inbox"></i> About</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="contact.html">
                <span class="mm-menu__link-text"><i class="fa fa-heart"></i> Contact</span>
              </a>
            </li>
        </ul>
    </nav><!-- /nav -->

    <!-- /////////////////////////////////////////Header -->
    <div class="top-header">
        <div class="container">
            <ul class="list-inline top-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>