<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KOMPLEET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

    <!-- styles -->

    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/menu.min.css">



</head>

<body id="wrapper">

    <!-- /////////////////////////////////////////Navigation -->
    <button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
    <nav id="mm-menu" class="mm-menu">
        <div class="mm-menu__header">
            <h2 class="mm-menu__title">KOMPLEET</h2>
        </div>
        <ul class="mm-menu__items">
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="index.html">
                <span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="index.html">
                <span class="mm-menu__link-text"><i class="fa fa-user"></i> Blog</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="single.html">
                <span class="mm-menu__link-text"><i class="fa fa-inbox"></i> About</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="contact.html">
                <span class="mm-menu__link-text"><i class="fa fa-heart"></i> Contact</span>
              </a>
            </li>
        </ul>
    </nav>

    <div class="top-header">
        <div class="container">
            <ul class="list-inline top-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>

{{content}}

    <footer>
        <div class="wrap-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website <br/> More Templates <a href="#" target="_blank" title="小鱼">小鱼</a> - Collect from <a href="#" title="网页模板" target="_blank">网页模板</a></span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


       <script src="{{site.baseurl}}/js/jquery.js"></script>

    <!-- Menu Js -->
    <script src="{{site.baseurl}}/js/materialMenu.js"></script>
    <script>
      var menu = new Menu;
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>
