---
layout: header

---


	<div class="svg-container nav-svg svg-block">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
		  <g transform="translate(0,-902.36218)"></g>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="M 0,150 0,0 1925,0"></path>
		</svg>
	</div>
	<header id="masthead" class="site-header" role="banner" style="background-position: 50% -120px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="site-branding">
				<a href="{{site.baseurl}}/" title="KOMPLEET"><img class="site-logo" src="{{site.baseurl}}/images/logo.png" alt="KOMPLEET"></a>
			</div><!-- .site-branding -->
		</div>
		<div class="svg-container header-svg svg-block">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0,-902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 1925,0 0,150 -1925,0"></path>
			</svg>
		</div>
	</header><!-- #masthead -->
	<!-- Header -->


	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="sub-page">

		<!-- //////////// -->
		<article class="box-content container">
			<div class="svg-container single-post-svg svg-block">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
					<g transform="translate(0,-902.36218)"></g>
					  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
					  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
					  <path d="m 1925,0 0,150 -1925,0"></path>
				</svg>
			</div>
			<div class="post" style="">
				<h1 class="entry-title">{{page.title}}</h1>
					<div class="single-thumb">
						<img src="{{site.baseurl}}{{page.amg}}" alt="">
					</div>
				
				
                    <p>{{page.excerpt}}</p>
                    <p>{{page.date|date_to_long_string}}</p>
                    <span>{{page.day}}</span><br>
				
			</div>
			<div class="svg-container single-post-svg single-svg-bottom svg-block">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 150">
				  <g transform="translate(0,-902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="M 0,150 0,0 1925,0"></path>
				</svg>
			</div>
           <div class="clearfix">
          
          {% if page.next %}
            <a class="btn btn-primary float-right" href="{{site.baseurl}}/{{page.next.url}}">上一篇： {{page.next.title}}</a>
          {% endif %}
          {% if page.previous %}
            <a class="btn btn-primary float-left" href="{{site.baseurl}}/{{page.previous.url}}">下一篇： {{page.previous.title}}</a>
          {% endif %}
        </div>
        </div>
		</article>

	